last 2 Chrome version
last 2 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
last 2 Android major versions
not IE > 0
# Due to issue https://github.com/nrwl/nx/issues/8768
not ios_saf 15.2-15.3
not safari 15.2-15.3
