@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  font-family: var(--oryx-typography-body-font);
  font-size: 14px;
  font-weight: var(--oryx-typography-body-weight);
  line-height: var(--oryx-typography-body-line);
  letter-spacing: 0.005em;
  color: var(--oryx-color-neutral-12);
  background-color: var(--oryx-color-neutral-1);
}

::placeholder {
  color: var(--oryx-color-placeholder);
}
