name: Release Workflow

on:
  # Triggers the workflow after the Test Workflow has completed
  # workflow_run:
  #   workflows: ['Test Workflow']
  #   types:
  #     - completed
  #   branches:
  #     - development
  #     - 'release/*'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run && github.event.workflow_run.conclusion == 'success' || true }}
    environment: 'Release NPM'
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GIT_USER: ${{ secrets.GIT_USER }}
      GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
      RELEASE_BRANCH: ${{ github.event.workflow_run.head_branch || github.ref }}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ env.GH_TOKEN }}
          ref: ${{ env.RELEASE_BRANCH }}
          submodules: recursive
      - uses: ./.github/actions/release-preparation
      - name: Build packages
        run: npx nx run-many --target=build --all --parallel=2 --exclude testfront,storybook,fulfillment,storefront
      - name: Fix js extension
        run: node tools/post-build/add-js-extension.js
      - name: Release Next
        if: ${{ env.RELEASE_BRANCH == 'development' }}
        run: RELEASE_TAG=next npm run release-tag
      - name: Release Latest
        if: ${{ startsWith(env.RELEASE_BRANCH, 'refs/heads/release/') }}
        run: npm run release-branch
      - name: Release labs
        run: npm run release-labs
      - name: Release Error Log
        if: failure()
        run: cat libs/lerna-debug.log
