name: Release from packages Workflow

on:
  # Triggers the workflow after the Test Workflow has completed
  # workflow_run:
  #   workflows: ['Test Workflow']
  #   types:
  #     - completed
  #   branches:
  #     - 'release/*'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run && github.event.workflow_run.conclusion == 'success' || true }}
    environment: 'Release NPM'
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GIT_USER: ${{ vars.GIT_USER }}
      GIT_EMAIL: ${{ vars.GIT_EMAIL }}
      RELEASE_BRANCH: ${{ github.event.workflow_run.head_branch || github.ref }}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ env.GH_TOKEN }}
          ref: ${{ env.RELEASE_BRANCH }}
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-node-

      - name: Auth NPM
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ env.NPM_TOKEN }}" > ~/.npmrc
          npm whoami

      - name: Nx Cache
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/nx
          key: nx-cache

      - name: Auth Git
        run: |
          git config user.email "${{ env.GIT_EMAIL }}"
          git config user.name "${{ env.GIT_USER }}"

      - name: Install Deps
        run: npm ci

      - name: Build packages
        run: npx nx run-many --target=build --all --parallel=2

      - name: Release from packages
        if: ${{ startsWith(env.RELEASE_BRANCH, 'refs/heads/release/') }}
        run: npm run release-from-packages

      - name: Release Error Log
        if: failure()
        run: cat libs/lerna-debug.log
