name: Test Workflow

on:
  # Triggers the workflow on push events
  push:
    branches:
      - '**'
  # Triggers the workflow on pull request events
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  GITHUB_REF: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref }}
  IS_DEV: ${{ github.event_name != 'pull_request' && github.ref == 'development' }}

jobs:
  test-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}
          fetch-depth: 0
      - uses: ./.github/actions/init
      - name: Format
        run: npx nx format:check --verbose
  test-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}
          fetch-depth: 0
      - uses: ./.github/actions/init
      - name: Lint
        uses: ./.github/actions/run-optimal
        with:
          cmd: npx nx run-many --target=lint --all
          affectedCmd: npx nx affected:lint
          isDev: ${{ env.IS_DEV }}
  test-stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}
          fetch-depth: 0
      - uses: ./.github/actions/init
      - name: Style Lint All
        uses: ./.github/actions/run-optimal
        with:
          cmd: npx nx run-many --target=stylelint --all
          affectedCmd: npx nx affected --target=stylelint
          isDev: ${{ env.IS_DEV }}
  test-tsconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}
          fetch-depth: 0
      - uses: ./.github/actions/init
      - name: TsConfig Paths
        uses: ./.github/actions/run-optimal
        with:
          cmd: npx nx run-many --target=paths --all
          affectedCmd: npx nx affected --target=paths
          isDev: ${{ env.IS_DEV }}
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}
          fetch-depth: 0
      - uses: ./.github/actions/init
      - name: Unit Tests
        uses: ./.github/actions/run-optimal
        with:
          cmd: |
            npx nx run-many --target=test --all
            node tools/coverage-reports/create-merged-layer-coverage-report.js libs/base
            node tools/coverage-reports/create-merged-layer-coverage-report.js libs/domain
            node tools/coverage-reports/create-merged-layer-coverage-report.js libs/platform
          affectedCmd: npx nx affected:test
          isDev: ${{ env.IS_DEV }}
  test-visual:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}
          fetch-depth: 0
      - uses: ./.github/actions/init
      - name: Visual Regression Tests
        uses: ./.github/actions/run-optimal
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
        with:
          cmd: npx nx run storybook:visual-regression-branch
          affectedCmd: npx nx affected --target=visual-regression-pr
          isDev: ${{ env.IS_DEV }}
